<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Input Test</h1>
    <form action="/io" method="post">
        <!-- <input type="text" th:field="*{name}" /> -->
         <input type="text" name="name" id="name"> <br><br>
         Gender: <br>
         <input type="radio" name="gender" id="male" value="male">Male
         <input type="radio" name="gender" id="female" value="female">Female <br><br>
         Hobbies: <br>
         <input type="checkbox" name="hobbies" id="singing" value="singing">Singing
         <input type="checkbox" name="hobbies" id="dancing" value="dancing">Dancing
         
         <button>Submit</button>
    </form>
</body>

</html>