<!DOCTYPE html>
<html lang="en">

<head th:replace="~{layout/head :: head('MLM - New Unit')}"></head>

<body class="container mt-3">
    <header th:replace="~{layout/header}"></header>
    <h3 class="mt-3">New Unit</h3>
    <form action="/unit" method="post">
        <label for="unit" class="form-label">Unit</label>
        <input type="text" name="unit" id="unit" class="form-control mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" id="name" class="form-control mb-3">
        <button class="btn btn-primary">Submit</button>
    </form>
    <footer th:replace="~{layout/footer}"></footer>
</body>

</html>