<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Unit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="container mt-3">
    <header th:insert="~{layout/header}"></header>
    <h3 class="mt-3">Edit Unit</h3>
    <form th:action="@{'/unit/edit/' + ${unit.unit}}" method="post">
        <label for="unit" class="form-label">Unit</label>
        <input type="text" name="unit" id="unit" class="form-control mb-3" th:value="${unit.unit}">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" id="name" class="form-control mb-3" th:value="${unit.name}">
        <button class="btn btn-primary">Submit</button>
    </form>
    <footer th:insert="~{layout/footer}"></footer>
</body>

</html>