<!DOCTYPE html>
<html lang="en">

<head th:replace="~{layout/head :: head('MLM - Unit')}"></head>

<body class="container mt-3">
    <header th:replace="~{layout/header}"></header>
    <div class="float-end"><a href="/unit/create" class="btn btn-primary mt-3">Create</a></div>
    <h3 class="mt-3">Products</h3>
    <table class="table">
        <tr>
            <th>Unit</th>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="unit : ${units}">
            <td th:text="${unit.unit}"></td>
            <td th:text="${unit.name}"></td>
            <td><a th:text="Edit" th:href="@{'/unit/edit/' + ${unit.unit}}"></a></td>
            <td><a th:text="Delete" th:href="@{'/unit/delete/' + ${unit.unit}}"></a></td>
        </tr>
    </table>
    <footer th:replace="~{layout/footer}"></footer>

</body>

</html>