<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="container mt-3">
    <h1>Edit Member</h1>
    <form action="/member/update" method="post">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" id="email" class="form-control mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" id="name" class="form-control mb-3">
        <button class="btn btn-primary">Submit</button>
    </form>
</body>

</html>